.baagii {
  background-color: #bfbfbf;
}

.bataa {
  background-image: url(https://picsum.photos/300/200);
  margin-left: 700px;
  width: 300px;
  height: 200px;
}

h1 {
  background-color: antiquewhite;
  margin-left: 20px;
  margin-top: 300px;
  width: 240px;
}

p {
  margin-left: 0px;
  margin-top: 0px;
  width: 200px;
}
